page-showinfo {
    .imagen{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: auto;
        height: auto;
        align-self: center;
        justify-self: center;
    }
    .imagen img{
        width: auto;
    }
    .lista a{
        width: 100%;
        margin: 10px;
        padding: 10px;
        text-decoration: none;
        background-color:rgb(29, 72, 190);
        color: white;
        border-radius: 10px;
        text-align: center;        
    }
    .lista{
        display: flex;
        flex-direction: column;
    }
    ion-scroll:nth-child(1) {
        height: 30%;
    }
    ion-scroll:nth-child(2) {
        height: 70%;
        overflow: scroll;
    }
}
